{% extends "base.html" %}


{% extends 'main/base.html'%}
{% block content %}
<h2>Статистика комиссий</h2>
<p>Общий баланс комиссий: {{ system_user_balance }}</p>
<h3>Детали транзакций</h3>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date_created }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



{% endblock %}