{% extends 'main/base.html'%}
{% load static %}

{% block content %}

    <div class="page_wrapper main_page">

      <div class="main_content_wrapper">
        <div class="page_navigation">
          <a href="{% url 'main:home' %}"><p>Головна</p></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <path d="M6.75 4.5L11.25 9L6.75 13.5" stroke="white" />
          </svg>
          <a href="{% url 'main:user_agreement' %}"><p>Для правовласників</p></a>
        </div>
        <div class="main_page_title">
          <h2>Для правовласників</h2>
        </div>

        <div class="faq_content">



Проект «FanVers.com»
Ми спільнота прихильників новел, ранобе та книг, де користувачі мають можливість розміщувати власні переклади та свої власні твори. Також користувачі мають можливість отримувати доступ та ділитися творами з іншими учасниками спільноти.

Захист авторських прав згідно з:
•	Законодавством України :
1.	Про веб-сайт як об'єкт авторського права [Електронний ресурс] // Лист Державного департаменту інтелектуальної власності, Міністерство освіти і 202 науки України N 16-14/231 від 22.01.2007. – 2007. –
2.	Щодо об'єктів авторського права [Електронний ресурс] // Лист Державного департаменту інтелектуальної власності N 16-13/4470 від 05.08.2009. – 2009.
3.	Про деякі питання практики вирішення спорів, пов'язаних із захистом прав інтелектуальної власності [Електронний ресурс] // Постанова пленуму Вищого Господарського Суду України від 17.10.2012 № 12. – 2012
4.	Закон СРСР "Про пресу та інші засоби масової інформації" від 12.06.1990 № 1552-I // Відомості Верховної Ради України (ВВР), 1990, N 26, ст. 492.
•	Міжнародним законодавством:
1.	Всесвітня Конвенція про авторське право. [Електронний ресурс] // Міжурядова конференція з авторского права, Женева.
2.	Directive 2000/31/EC of the European Parliament and of the Council of 8 June 2000 on certain legal aspects of information society services, in particular electronic commerce, in the Internal Market ('Directive on electronic commerce') // OJ L 178, 17.7.2000, p. 1–16.


Ми дотримуємося Закону про захист авторських прав у цифровій епохі (DMCA) та інших чинних законів, що регулюють авторські права. Якщо ми отримаємо відповідне повідомлення про порушення прав, незаконно розміщені переклади будуть негайно видалені.

Повідомлення про порушення авторських прав.

Якщо ви вважаєте, що ваші авторські права порушено на сайті FanVers.com, ви можете надіслати повідомлення про порушення прав на електронну адресу FanVers@gmail.com. Згідно з частиною 512(c) Акту про авторські права (Digital Millennium Copyright Act), який висуває певні вимоги до форми цього повідомлення, слід обов’язково надати таку інформацію:

1.	Ваш підпис або електронний підпис особи, яка представляє вас чи особу, чиї авторські права були порушені.

2.	Вказівку на роботи (матеріали), щодо яких порушено права, разом з посиланнями(URL)  на кожен з них. У разі, коли повідомлення повідомляє про порушення авторського права на кілька таких матеріалів (текстів, зображень), у ньому мають бути наведені вказівки на кожен із них.







3.	Вказівку на матеріал, який порушує авторські права або є предметом порушення, і зазначення, який саме матеріал потрібно видалити чи заблокувати, а також посилання на вихідну адресу цього матеріалу.

4.	Ваші ім’я та прізвище, контактні дані, включаючи адресу електронної пошти, поштову адресу та номер телефону.

5.	Підтвердження вашої впевненості, що використання матеріалу порушує авторські права і не дозволяється власником авторських прав, агентом чи законодавством.

6.	Заява, що надана вами інформація є правдивою і точною, і ви розумієте можливі наслідки надання неправдивої інформації


Далі в інструкції сказано, що адміністратор сайту або особа, яка розмістила спірний матеріал, має право подати зустрічну скаргу відповідно до 512(g)(2) та 512(g)(3) Закону США «Про авторське право в цифрову епоху» [47].


Видалення або блокування доступу до матеріалу.

Після отримання повідомлення про порушення авторських прав, «FanVers.com» вживає заходів щодо видалення чи блокування спірних матеріалів протягом 7 робочих днів. Якщо інформація недостатня або виникають сумніви, ми можемо зв'язатися з вами для отримання додаткової інформації.

В разі багаторазових порушень авторських прав власники акаунтів на «FanVers.com»  можуть втратити доступ до сервісу відповідно до наших правил.

Зустрічне повідомлення.

Якщо ви не згодні із блокуванням вашого перекладу і вважаєте себе власником прав на нього, ви можете надіслати зустрічне повідомлення за адресою FanVers@gmail.com. Після розгляду вашого повідомлення доступ до вашого перекладу може бути відновлений.

Зверніть увагу, що подавши неправдиву інформацію, ви можете бути притягнуті до відповідальності згідно з частиною 512(f) Актом про авторські права.



  </div>
      </div>



{% endblock %}
