{% extends 'main/base.html'%}
{% load static %}

{% block content %}

    <div class="page_wrapper main_page">

      <div class="main_content_wrapper">
        <div class="page_navigation">
          <a href="{% url 'main:home' %}"><p>Головна</p></a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <path d="M6.75 4.5L11.25 9L6.75 13.5" stroke="white" />
          </svg>
          <a href="{% url 'main:user_agreement' %}"><p>Угода користувача</p></a>
        </div>
        <div class="main_page_title">
          <h2>Угода користувача</h2>
        </div>

        <div class="faq_content">




Дана Угода користувача (далі – «Угода») є публічною офертою, адресованою необмеженій кількості осіб, з пропозицією укласти договір на наведених нижче умовах.
ТЕРМІНИ, ЩО ВИКОРИСТОВУЮТЬСЯ В УГОДІ

•	Сайт – інформаційний ресурс, розташований в інформаційно-телекомунікаційній мережі загального користування «Інтернет» за унікальною мережевою адресою у вигляді доменного імені другого рівня ualate.com, включаючи як ті, що існують на момент прийняття умов цієї угоди, так і ті  що вводяться в дію в майбутньому протягом усього терміну існування піддомени (субдомени) нижніх рівнів зазначеного домену другого рівня, включаючи піддомен WWW, додаткові доменні імена, а також усі пов'язані із зазначеним ресурсом програми для ЕОМ та бази даних, що забезпечують його функціонування, а також інші (технічні) домени.
•	Адміністрація є адміністратором доменного імені другого рівня ualate.com.
•	Користувач – будь-яка фізична особа, яка використовує Функціонал Сайту. Користувач має право пройти процедуру реєстрації для створення Особистого кабінету та отримання додаткових можливостей, передбачених Угодою.
•	Реєстрація — процес надання Користувачем індивідуально-визначальної інформації у вигляді реєстраційних даних та обробки цієї інформації сервісами Сайту, в результаті якої на Сайті створюється унікальний Обліковий запис Користувача.
•	Особистий кабінет — панель керування Обліковим записом та Балансом Користувача.
•	Баланс — грошові кошти, що обчислюються в UAcoins, що належать Користувачеві та відображаються в Особистому кабінеті Користувача, що зберігаються на рахунку Адміністрації, розпорядження якими здійснюється Адміністрацією від імені та за прямою вказівкою Користувача. Умови поповнення Балансу відображені на відповідній сторінці, яка доступна за індивідуальним посиланням в Особистому кабінеті. Умови виведення коштів з Балансу Користувача відображені у відповідному розділі Особистого кабінету та залежать від способу виведення коштів.
•	UAcoins — умовна одиниця виміру коштів у Балансі Користувача. Курс UAcoins  по відношенню до основних валют встановлюється Адміністрацією, може бути змінений на розсуд Адміністрації у зв'язку зі зміною економічної ситуації, а при поповненні через платіжні агрегатори конвертується за їх внутрішнім курсом.
•	Матеріали— будь-які твори науки, літератури чи мистецтва, які розміщуються на Сайті Адміністрацією або Користувачами, зокрема зображення, літературні твори (зокрема їх окремі елементи, переклади та інші похідні твори) та інші твори.
•	Переклад –літературний твір, що розміщується Користувачем на Сайті, що входить до складу Матеріалів Сайту, який може складатися з безліч частин (зокрема розділів), але враховується на Сайті як єдиний об'єкт.
•	Обліковий запис (аккаунт) — унікальна сукупність реєстраційних даних (Логіна та Пароля) Користувача, що є засобом автентифікації Користувача на Сайті, необхідна для використання Користувачем Функціонала Сайту в повному обсязі.
•	Логін – унікальне ім'я Облікового запису, яке визначається Користувачем.
•	Пароль - секретний набір символів, що визначаються Користувачем, який служить для можливості індивідуального використання Користувачем Облікового запису на Сайті.
•	Функціонал Сайту – сукупність закладених у Сайті програмних можливостей.
•	Модерація — перегляд Адміністрацією розміщеної (або планованої до розміщення — Премодерація) на Сайті Користувачем інформації щодо її відповідності положенням Угоди. Модерація не є обов'язком адміністратора.

Угода користувача
Використовуючи та/або відвідуючи Сайт (включаючи весь контент, доступний за допомогою доменного імені ualate.com та всіх піддоменів, а також контент Сайту, доступний за допомогою мобільних додатків) ви виражаєте своє повне та беззастережне прийняття умов цієї Угоди (далі – Угода)). Якщо ви не погоджуєтесь з будь-якою з умов, будь ласка, не використовуйте Сайт.

Ми намагатимемося повідомити вас, якщо відбудуться зміни Угоди, але в будь-якому випадку ви повинні періодично переглядати та ознайомлюватись з останньою версією Угоди, яка розташована за адресою   ualate.com . Ми можемо на власний розсуд змінювати або переглядати умови цієї Угоди в будь-який час, і, продовжуючи користуватися Сайтом, ви погоджуєтесь з такими змінами. Умови цієї Угоди поширюються на всіх користувачів Сайту.
Нова редакція Угоди набирає чинності та застосовується негайно після її розміщення Адміністрацією за адресою, зазначеною вище, якщо інше не передбачено у тексті нової редакції Угоди.
Користувач вважається таким, що повністю і беззастережно прийняв умови Угоди у разі вчинення будь-якої із зазначених дій, що є акцептом оферти:
•	використання Функціонала Сайту будь-якими способами, у тому числі способами, передбаченими цією Угодою та чинним законодавством України;
У разі зміни основного доменного імені Сайту на інше, умови Угоди та обсяг правочинів Сторін не змінюються.

1. Реєстрація на Сайті
1.1. Реєстрація користувача на Сайті є безкоштовною та добровільною.

1.2. Ви можете користуватися Сайтом, не реєструючись і не створюючи свій обліковий запис, але для того, щоб скористатися деякими функціями Сайту, ви повинні створити обліковий запис. При реєстрації на Сайті ви зобов'язані надати нам запитувану інформацію, яка має бути достовірною та актуальною. Тільки ви несете відповідальність за достовірність, актуальність, повноту та відповідність наданої під час реєстрації інформації.

1.3. Вибрані вами логін та пароль є необхідною та достатньою інформацією для вашого доступу до Сайту. Логіном можуть бути ваші облікові записи соціальних мереж, які допускаються Сайтом як такі. Ви повинні тримати в безпеці дані (логін та пароль) вашого облікового запису. Будь-які дії, вчинені з використанням вашого логіну та пароля, вважаються вчиненими вами, якщо не буде доведено протилежне. У разі несанкціонованого доступу до вашого облікового запису або розповсюдження логіну та пароля ви повинні негайно повідомити нас про це.

1.4. Ви маєте повне право у будь-який момент самостійного видаляти раніше розміщену вами інформацію на Сайті, але можете бути обмежені у можливості зміни такої інформації.

1.5. Ви можете використовувати наш сайт на безоплатній основі.

1.6. Доступ до деякого авторського контенту закритий та/або платний. Ви можете отримати доступ до такого контенту через його придбання на Сайті.

1.7. На Сайті є можливість придбання платних послуг, які не впливають на наявність доступу користувача до безкоштовного та платного контенту. Оплата таких послуг має добровільний характер.
1.8. Адміністрація має право відмовити у створенні Облікового запису без пояснення причин та/або видалити Обліковий запис Користувача у разі недотримання умов Угоди.


2. Права та  обов'язки користувача
2.1. Користувач зобов'язується уважно ознайомитися зі змістом цієї Угоди та дотримуватися її.
2.2. Користувач зобов'язується дотримуватися положень чинного законодавства України, цієї Угоди та інших положень Сайту, які є частиною цієї Угоди;
2.3. Користувач зобов'язується надавати при реєстрації достовірні, повні та актуальні дані, стежити за їхньою актуалізацією;
2.4. Користувач зобов'язується не розміщувати рекламу на Сайті Це включає, але не обмежується рекламою товару, пропозиціями купити чи продати будь-які продукти чи послуги за допомогою Сайту, забороняється розповсюджувати спам чи небажані листи на електронну пошту інших Користувачів;
2.5.  Користувач зобов'язується інформувати нас про несанкціонований доступ до вашого облікового запису або пароля та логіну;
2.6.  Користувач зобов'язується не реєструватися як Користувач від імені або замість іншої особи;
2.7. Користувач зобов'язується не створювати більше одного облікового запису. У разі виявлення будь-яких зловживань та порушень щодо використання облікових записів ми залишаємо за собою право блокувати обліковий запис без будь-яких компенсацій.
2.8. Користувач зобов'язується не вводити Користувачів в оману щодо своєї особи, використовуючи логін та пароль іншого зареєстрованого Користувача;
2.9. Користувач зобов'язується не завантажувати, зберігати, публікувати, розповсюджувати чи іншим чином використовувати віруси та інші шкідливі програми стосовно Сайту;
2.10. Користувач зобов'язується не використовувати автоматизовані програми для збирання інформації на Сайті;
2.11.  Користувач зобов'язується не здійснювати незаконні збір та обробку персональних даних інших Користувачів;
2.12.  Користувач зобов'язується не відтворювати, дублювати, копіювати, продавати, здійснювати торгові операції та перепродавати послуги для будь-яких цілей, за винятком випадків, коли такі дії були прямо дозволені Користувачеві відповідно до цієї Угоди;
2.13.  Користувач зобов'язується не завантажувати на Сайт матеріал, захищений авторським правом, торгові марки або іншу приватну інформацію без попередньої згоди власника інтелектуальної власності;
2.14.  Користувач зобов'язується не використовувати програмне забезпечення та не здійснювати дії, спрямовані на порушення нормального функціонування Сайту та його сервісів;
2.15.  Користувач зобов'язується не завантажувати, зберігати, публікувати, розповсюджувати та надавати доступ або іншим чином використовувати будь-яку інформацію, яка порушує інше правила розміщення текстів Сайту, які є невід'ємною частиною цієї угоди.

3. Незареєстрований Користувач має право
3.1. переглядати Матеріали, розміщені Адміністрацією та зареєстрованими Користувачами;
3.2. завантажувати Матеріали, розміщені зареєстрованими Користувачами, за винятком випадків, коли можливість перегляду та/або скачування Матеріалів була обмежена Користувачем, який розмістив Матеріали.
3.3. Зареєстрований Користувач, крім прав, наданих незареєстрованому Користувачеві, має право:
3.3.1. розміщувати матеріали на сайті;
3.3.2. встановлювати плату за надання доступу до Перекладів, що розміщуються собою, самостійно визначаючи розмір плати та строк, протягом якого доступ до Перекладу надаватиметься за плату;
3.3.3. видаляти самостійно розміщені матеріали;
3.3.4. залишати коментарі до Матеріалів, профілів Користувачів на Сайті та у блозі Сайту;
3.3.5. здійснювати редагування самостійно розміщених Матеріалів
3.3.6. переводити UAcoins  Адміністрації з метою їх відображення на Балансі Користувача та отримання можливості розпорядження ними Користувачем у рамках Сайту;
3.2.7. знімати UAcoins, що враховуються на Балансі Користувача у порядку та на умовах, встановлених Адміністрацією;
3.2.8. доручати Адміністрації перераховувати будь-яким Користувачам певну кількість наявних у нього UAcoins як пожертвування;
3.2.9. доручати Адміністрації перераховувати Користувачам, які встановили плату за надання доступу до розміщених собою Переказів, UAcoins у необхідному розмірі для отримання доступу до таких Переказів;
3.2.10. використовувати інші можливості Сайту на підставі цієї Угоди.

4.	Використовуючи цей Сайт, ви погоджуєтесь з наступними пунктами

4.1	ми маємо право будь-якої миті часу відмовити вам у наданні місця для розміщення творів або авторського контенту, вилучивши їх зі свого сервера;
4.2.	ми маємо право здійснювати розсилку повідомлень, у тому числі повідомлень електронною поштою на базі Користувачів;
4.3.	ми маємо право повністю або частково обмежувати функціональність Сайту з технічних, профілактичних чи інших причин на власний розсуд;
4.4.	ми залишаємо за собою право, але не зобов'язуємося відстежувати інформацію або матеріали, які ви розміщуєте або публікуєте для загального прочитання. Ми маємо право, але не зобов'язані видаляти таку інформацію чи матеріал, без будь-яких пояснень та повідомлень.

5. Права Сайту
5.1. Сайт має право зберігати всю інформацію, яку автори публікують (включаючи текст, фотографії, посилання та інші інформаційні ресурси) та надавати її Користувачам Сайту.
5.2. Сайт має право змінювати та/або видаляти коментарі та Матеріали Користувача, зокрема через розміщення їх з порушенням умов цієї Угоди, законодавства України.
5.3. Сайт має право обмежити можливість коментування, розміщення матеріалів.
5.4. Сайт має право видаляти розміщену інформацію за сигналом наглядового або судового органу, а також у випадках, коли існують ґрунтовні сумніви щодо порушення авторських прав на зміст, розміщений Користувачем.
5.5. Сайт має право змінювати особистий баланс за дорученням Користувача в момент, коли він використовує послуги сайту.

6. Персональні дані
6.1 Користувач висловлює свою згоду на обробку адміністрацією (і уповноваженими адміністрацією особами) його персональних даних, наданих Користувачем під час реєстрації, а також персональних даних, розміщених самостійно Користувачем у будь-якій частині Сайту, включаючи піддомени.
6.2. Обробка персональних даних Користувача здійснюється відповідно до чинного законодавства  України.
6.3.Адміністрація вживає всіх можливих заходів для захисту персональних даних Користувача від неправомірного доступу третіх осіб.
6.4. Користувач дає згоду на передачу його персональних даних платіжному агрегатору.

7. Блокування облікового запису
Сайт залишає за собою право позбавити Користувача доступу до його облікового запису у випадках, коли з останнього здійснювалися наступні дії:
7.1.	псування контенту сайту шляхом внесення до нього правок через використання системи виправлення помилок (див. рекомендації);
7.2.	порушення норм добропорядного спілкування після вказівки на неприпустимість такого співробітником Сайту через коментарі чи електронний лист.

8.	Врегулювання суперечок

У разі виникнення суперечок та розбіжностей Користувач повинен звернутися до Сайту з конкретною скаргою.

Сайт зобов'язується протягом 2-х тижнів розглянути скаргу Користувача та докласти всіх зусиль для вирішення спору чи розбіжності.

9. НАДАННЯ ДОСТУПУ ДО ПЕРЕКЛАДУ ЗА ПЛАТУ І ВНЕСЕННЯ ПОЖЕРТУВАНЬ

9.1. Адміністрація при виконанні доручення Користувача про перерахування UAcoins іншому Користувачеві  виступає від імені та за рахунок Користувача, який дав таке доручення, як його агент відповідно до законодавства України.

9.2. Адміністрація, отримавши від Користувача-принципалу доручення про перерахування певної кількості UAcoins іншому Користувачеві-бенефіціару, здійснює Модерацію, і, за умови успішного її завершення та за наявності необхідної для здійснення операції кількості UAcoins  на Балансі Користувача-принципалу, здійснює переведення необхідного бенефіціару за вирахуванням агентської винагороди.

9.3. Винагорода, яка утримується Адміністрацією на свою користь при перерахуванні UAcoins від одного Користувача до іншого, є доходом Адміністрації як агента. UAcoins, що становлять Баланс Користувача-принципалу, у тому числі UAcoins, які отримують Користувач-бенефіціар як плата за надання доступу до розміщених ним Переказів, не визнаються доходом Адміністрації. Адміністрація також не може бути визнана податковим агентом, оскільки не є джерелом доходів Користувача-бенефіціара.

9.4. Розмір винагороди, яку утримує Адміністрація при перерахуванні UAcoins Користувачеві-бенефіціару за надання доступу до Переказу, становить:

9.4.1. 15%  від суми, що перераховується, якщо Користувачем – бенефіціаром розміщено на Сайті матеріалу загальною ємністю до 5 мільйонів символів, доступ до яких будь-коли надавалися Користувачам за плату, на момент отримання Адміністрацією розпорядження від Користувача-принципалу про перерахування UAcoins.

9.4.2. 12%  від суми, що перераховується, якщо Користувачем – бенефіціаром розміщено на Сайті матеріалу загальною ємністю понад 5 мільйонів символів, доступ до яких колись надавав Користувачам за плату, на момент отримання Адміністрацією розпорядження від Користувача-принципалу про перерахування UAcoins;

9.4.3. 10%  від суми, що перераховується, якщо Користувачем – бенефіціаром розміщено на Сайті матеріалу загальною ємністю понад 10 мільйонів символів, доступ до яких колись надавав Користувачам за плату, на момент отримання Адміністрацією розпорядження від Користувача-принципалу про перерахування UAcoins.

9.5. Адміністрація надає доступ до Переказу Користувачеві-принципалу негайно після перерахування UAcoins Користувачеві-бенефіціару.

9.6. Розмір винагороди, що утримується Адміністрацією при перерахунку UAcoins Користувачеві-бенефіціару як пожертвування, становить 15 % від суми, що перераховується.

9.7. Автор у праві встановлювати будь-яку вартість розділу чи тому у сумі від 1 до 1000 UAcoins.

10. ІНТЕЛЕКТУАЛЬНІ ПРАВА

10.1. Бази даних та програмний код Сайту, Матеріали Сайту, розміщені Адміністрацією (як видимі для Користувача, так і не видимі без виконання спеціальних дій як правомірних, так і ні) є результатами інтелектуальної діяльності Адміністрації, зокрема Криворучко Світлани Миколаївни, або інших правовласників, зокрема Криворучко Олександра Геннадійовича,  які уклали угоду, що дає Адміністрації право розміщувати зазначені об'єкти інтелектуальної власності на Сайті або у його складі, та охороняються відповідно до чинного законодавства.

10.2. Адміністрація надає Користувачеві лише право функціонального використання Сайту в межах його Функціонала, в обсязі, який не вимагає за законодавством України володіння винятковими правами на Сайт або елементи Сайту.

10.3. Використання Сайту, в тому числа програм для ЕОМ, баз даних і Матеріалів, розміщених Адміністрацією, будь-якими способами, в тому числі шляхом відтворення, декомпіляції, модифікації, поширення, публічного показу, доведення до загального відома, суворо заборонені. Адміністрація не надає Користувачеві виняткових прав.

10.4. Користувач не має права розміщувати будь-яким чином на Сайті Матеріали, що являють собою або включають результати інтелектуальної діяльності або засоби індивідуалізації третіх осіб, за винятком тих випадків, коли йому надано відповідне право або виключне право на відповідний результат інтелектуальної діяльності. При опублікуванні будь-яких Матеріалів на Сайті, Користувач гарантує, що ці дії здійснюються правомірно:

10.4.1. відповідно до положень про вільне використання без згоди автора або іншого правовласника та виплати винагороди;

10.4.2. або Користувачеві було надано зазначене право дійсним правовласником використовуваних результатів інтелектуальної діяльності.

10.5. Розміщуючи на Сайті Матеріали, Користувач самостійно з власної волі здійснює їх відтворення, публічний показ та/або доведення до загальної інформації з використанням Функціоналу Сайту.

10.6. При опублікуванні на Сайті Матеріалів або інших результатів інтелектуальної діяльності, правовласником яких є Користувач, він надає Адміністрації просту невиключну ліцензію на використання цих результатів такими способами:

10.6.1. відтворення (копіювання),

10.6.2. поширення шляхом продажу чи іншого відчуження примірників,

10.6.3. використання у складі складного твору,

10.6.4. переклад або іншу переробку (зміну),

10.6.5. доведення до загальної інформації,

10.6.6. використання будь-якими іншими способами з метою роботи Сайту.

10.7. Зазначені у п. 6.6 права надаються безоплатно на весь термін дії виключного права на результат інтелектуальної діяльності без будь-яких територіальних чи інших просторових обмежень із правом надання субліцензій.

10.8. Видалення Облікового запису Користувача не тягне за собою припинення дії простої невиключної ліцензії, яку надає Користувач Адміністрації.

10.9. Користувач має право безкоштовно здійснювати особисте некомерційне використання будь-яких доступних йому Матеріалів, розміщених іншими Користувачами, за умови дотримання особистих немайнових прав авторів таких Матеріалів, в обсязі, що не вимагає за законодавством Української влади винятковими правами на Матеріали.

10.10. Сайт залишає за собою право використовувати розміщені матеріали з іншою метою.

10.11. Заборонено розміщувати матеріали із сайту на інших ресурсах.

11. ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ

11.1.  Адміністрація не гарантує і не може гарантувати, що працездатність Сайту здійснюватиметься безперервно, без затримок, збоїв та вся надана інформація відображатиметься достовірно.

11.2. Користувач використовує функціонал Сайту на власний ризик. Весь функціонал надається «як є» (as is) без будь-яких явних гарантій. Збереження інформації користувача не гарантується.

11.3.  Адміністрація за жодних обставин не може нести відповідальності за зміст та негативні наслідки використання (у тому числі перегляду, збереження веб-сторінок) сторонніх ресурсів, посилання на які є на Сайті.

11.4.  Адміністрація не несе відповідальності перед Користувачем за будь-яку непряму, випадкову, ненавмисну шкоду, у тому числі втрачену вигоду, втрачені дані, шкоду честі, гідності або ділової репутації, викликану у зв'язку з використанням Сайту, вмісту Сайту або інших матеріалів, до яких Користувач або інші особи отримали доступ за допомогою Сайту.

11.5.  Адміністрація не несе відповідальності за дії Користувачів або платіжних систем, які можуть призвести до втрати або некоректного зарахування коштів при поповненні Балансу або виведення коштів.

11.6. Користувач самостійно несе всю відповідальність, пов'язану з витратами коштів із Балансу Користувача. Будь-які дії від імені Облікового запису Користувача вважаються вчиненими Користувачем самостійно за винятком випадків, передбачених п. 3.7 за умови, що Користувач не менше ніж за 72 години до настання неавторизованого платежу належним чином повідомив Адміністрацію відповідно до п. 3.6. цієї Угоди.

11.7. Адміністрація вживає всіх заходів для дотримання прав на результати інтелектуальної діяльності третіх осіб, водночас оскільки Сайт допускає наявність створеного Користувачами контенту (User-Generated Content), Премодерація якого неможлива і не здійснюється, то оперативне видалення Матеріалів, що порушують інтелектуальні або інші права може бути утруднено.

11.8. На вимогу правовласників результатів інтелектуальної діяльності або засобів індивідуалізації, які неправомірно розміщені або іншим чином використані на Сайті, а також за власною ініціативою за наявності відомостей про порушення інтелектуальних прав, Адміністрація негайно видаляє розміщені Користувачами Матеріали, що містять зазначені об'єкти інтелектуальних прав.

12. ЗГОДА НА ОТРИМАННЯ ПОВІДОМЛЕНЬ

12.1. Користувач висловлює свою згоду на отримання повідомлень за допомогою електронних повідомлень на вказаний Користувачем e-mail під час реєстрації.

12.2. Користувач має право відмовитися від отримання повідомлень за допомогою електронних повідомлень за допомогою зміни налаштувань - зняття чекбоксів («галочок») для кожного способу сповіщення в особистому кабінеті та збереження налаштувань.

13. БАЛАНС КОРИСТУВАЧА

13.1. Баланс Користувача та відповідний запис у базі даних Сайту створюється автоматично під час реєстрації Користувача на Сайті.

13.2. Користувач може поповнювати Баланс з використанням платіжних систем, що підтримуються Сайтом.

13.3. Баланс оновлюється на момент отримання коштів Адміністрацією.

13.4. У разі неправильної вказівки платіжних реквізитів Користувача з вини Користувача, а також у разі зарахування коштів на помилковий рахунок внаслідок невиконання або неправильного виконання дій, зазначених в інструкціях платіжних систем, всі ризики втрати коштів несе Користувач.

14. ЗАКЛЮЧНІ ПОЛОЖЕННЯ

Користувач:

14.1.	підтверджує, що ознайомився з умовами сервісу.

14.2.	погоджується, що грошове зобов'язання Користувача перед Адміністрацією виконується шляхом зарахування відповідної суми на електронний засіб платежу Адміністрації у платіжному сервісі.

14.3.	Суперечки між сторонами підлягають вирішенню у претензійному порядку.

14.4.	Термін відповіді претензію становить 15 робочих днів із моменту її отримання стороною.


14.5.	Перекладач зобов'язується не використовувати Google переклад з метою отримання передплатників і прибутку обманним шляхом, у разі якщо більшість тексту відповідають Google перекладу акаунт блокується назавжди.




  </div>
      </div>



{% endblock %}
