{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
    <div class="form-group">
        {{ form.file.label_tag }}Або можете завантажити файлом
        {{ form.file }}
    </div>


<script>

CKEDITOR.replace('editor', {

toolbar: [
'heading',
'|',
'bold',
'italic',
'link',
'bulletedList',
'numberedList',
'|',
'indent',
'outdent',
'|',
'blockQuote',
'insertTable',
'undo',
'redo'
],

config: {

default: {

  toolbar: [
    'heading',
    '|',
    'bold',
    'italic',
    'link',
    'bulletedList',
    'numberedList',
    '|',
    'indent',
    'outdent',
    '|',
    'blockQuote',
    'insertTable',
    'undo',
    'redo'
  ],

  height: 300,

  width: '100%',

  font_names: 'Times New Roman/Times New Roman;Arial/Arial, Helvetica, sans-serif;Verdana/Verdana, Geneva, sans-serif;Tahoma/Tahoma, Geneva, sans-serif;Webdings/Webdings;Symbol/Symbol;',

  font_defaultLabel: 'Tahoma',

  fontSize_sizes: '6/6px;8/8px;9/9px;10/10px;11/11px;12/12px;14/14px;16/16px;18/18px;20/20px;22/22px;24/24px;',

  fontColor: {

    colors: [
      'rgb(0, 0, 0)',
      'rgb(67, 67, 67)',
      'rgb(102, 102, 102)',
    ]

  }

}

}

});

</script>



    {{ form.price.label }}: {{ form.price }}





    <button type="submit">Загрузить</button>

</form>

{% endblock %}
